<% provide(:title, 'All books') %>
<h1>All books</h1>

<ul class="books">
  <% @all_books.each do |book| %>
  	<% if book.user.status? || current_user?(book.user) %>
    <%= render book %>

    <% end %>

  <% end %>
</ul>
<%= will_paginate @all_books %>
