<% provide(:title, @book.name) %>
<div class="row">
  <aside class="span4"
  </aside>
  <div class="span8">
    <span class="name">
    
    	<h1><%= @book.name %></h1>
    </span>
  </div>
  <div class="span8">
    <span class="description">
    	
    	<%= @book.description %>
    </span>
  </div>
  
 
</div>